* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.input {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    width: 400px;
}
.input > * {
    flex: auto;
}
button {
    max-width: 80px;
    padding: 5px;
}

.container {
    border: 2px solid black;
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
}

.container > * {
    border: 2px solid black;
    width: 24px;
    height: 24px;
}
